<form id="filters" class="flex items-center gap-1">
  <select
    name="adopted"
    class="w-full select bg-card rounded-sm placeholder:text-muted-foreground/50"
    hx-get="/pets"
    hx-target="#content"
    hx-trigger="change"
    hx-push-url="true"
    hx-include="closest form"
  >
    <option value="">--- All Pets ---</option>
    <option value="false" <%= it.adopted === 'false' ? 'selected' : '' %>>Available</option>
    <option value="true" <%= it.adopted === 'true' ? 'selected' : '' %>>Adopted</option>
  </select>

  <button type="submit" class="sr-only">Filter</button>
</form>