<div class="space-y-3 md:space-y-4 -mt-2">
  <div class="w-full flex items-center justify-between overflow-auto">
    <%~ include('../components/search', { searchUrl: '/pets', placeholder: 'Search pets...', value: it.search }) %>

      <div class="hidden md:block"><%~ include('_filters') %></div>
  </div>

  <div id="pet-grid" class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-6">
    <% it.pets.forEach(function(pet) { %>
      <%~ include('_pet', { pet }) %>
        <% }) %>
  </div>
</div>

<% if (it.pets.length===0) { %>
  <p class="text-center text-gray-500 mt-8">No pets match your filters.</p>
  <% } %>