<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    <%= it.title %>
  </title>
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="/js/htmx.min.js" defer></script>
  <script>
    htmx.config.globalViewTransitions = true;
  </script>
</head>

<body class="min-h-screen bg-stone-100 flex flex-col [scrollbar-gutter:stable]" hx-boost="true" hx-target="#content"
  hx-swap="innerHTML" hx-push-url="true">
  <header id="header" class="bg-gray-800 text-white" hx-swap-oob="true">
    <nav class="container mx-auto flex items-center justify-between p-4">
      <a href="/" class="text-xl font-bold" hx-get="/" hx-target="#content" hx-trigger="change" hx-push-url="true">Pet
        Shelter</a>
      <ul class="flex gap-4">
        <li>
          <a href="/" class="hover:underline" hx-get="/" hx-target="#content" hx-trigger="change" hx-push-url="true">
            Home
          </a>
        </li>
        <li>
          <a href="/pets" class="hover:underline" hx-get="/pets" hx-target="#content" hx-trigger="change"
            hx-push-url="true">
            Pets
          </a>
        </li>
        <li>
          <a href="/about" class="hover:underline" hx-get="/about" hx-target="#content" hx-trigger="change"
            hx-push-url="true">
            About
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="content" class="flex-1 container mx-auto p-4" hx-swap-oob="true">
    <%~ it.body %>
  </main>

  <footer id="footer" class="p-4 text-center text-sm" hx-swap-oob="true">
    &copy; 2026 Pet Shelter
  </footer>
</body>

</html>